@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SignInViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h1>SignIn</h1>

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Password</label>
                <input asp-for="Password" class="form-control" >
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input" >
                <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>
</div>
